@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'anton';
	src: url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
}

body {
	@apply font-['anton',_sans-serif] bg-sunset-orange-500 text-white p-4 md:px-16 lg:px-32 xl:px-48;
}
